USE [CasoEstudioJN]
GO

-- =====================================================
-- Object:  Table [dbo].[CasasSistema]
-- =====================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasasSistema](
	[IdCasa] [bigint] IDENTITY(1,1) NOT NULL,
	[DescripcionCasa] [varchar](30) NOT NULL,
	[PrecioCasa] [decimal](10, 2) NOT NULL,
	[UsuarioAlquiler] [varchar](30) NULL,
	[FechaAlquiler] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =====================================================
-- Object:  StoredProcedure [dbo].[AlquilarCasa]
-- =====================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AlquilarCasa]
    @IdCasa BIGINT,
    @UsuarioAlquiler VARCHAR(30)
AS
BEGIN
    UPDATE dbo.CasasSistema
    SET 
        UsuarioAlquiler = @UsuarioAlquiler,
        FechaAlquiler = GETDATE()
    WHERE IdCasa = @IdCasa;
END
GO

-- =====================================================
-- Object:  StoredProcedure [dbo].[ConsultarCasas]
-- =====================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarCasas]
AS
BEGIN
    SELECT 
        IdCasa,
        DescripcionCasa,
        PrecioCasa,
        UsuarioAlquiler,
        FechaAlquiler
    FROM 
        dbo.CasasSistema
    ORDER BY 
        CASE 
            WHEN FechaAlquiler IS NULL THEN 0 
            ELSE 1 
        END,
        FechaAlquiler;
END
GO
