<div class="hero-bg">
	<img src="wwwroot/img/hero-bg-light.webp" alt="">
</div>
<div class="container text-center">
	<div class="d-flex flex-column justify-content-center align-items-center">
		<h1 data-aos="fade-up">Sistema de <span>Alquiler</span></h1>
		<p data-aos="fade-up" data-aos-delay="100">Por favor, elija una opción para continuar.<br></p>
	</div>
</div>