<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PracticaProgramada2_Web</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div class="sidebar" id="sidebar">
        <!-- Logo encima del toggle -->
        <div class="logo-container">
            <img src="~/images/logo.png" alt="Logo" class="sidebar-logo" />
        </div>
       
        <!-- Botón de flecha para expandir/contraer la barra lateral -->
        <button id="toggleSidebar" class="toggle-btn">
            <i class="fas fa-bars"></i> <!-- Flecha para mostrar/ocultar -->
        </button>

        <a asp-controller="Home" asp-action="Index" title="Inicio">
            <i class="fas fa-home"></i>
            <span class="link-text">Inicio</span>
        </a>
        <a asp-controller="Consulta" asp-action="Consulta" title="Consulta">
            <i class="fas fa-boxes"></i>
            <span class="link-text">Consulta</span>
        </a>
        <a asp-controller="Registro" asp-action="Registro" title="Registro">
            <i class="fas fa-pen"></i>
            <span class="link-text">Registro</span>
        </a>
    </div>
    <div class="main-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

    <script>
        document.getElementById('toggleSidebar').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('expanded');
        });
    </script>
</body>
</html>


