@{
	ViewData["Title"] = "Home";
}

<div class="card mb-5">
    <div class="card-body text-center">
        <h2 class="section-title text-black">Sitio en Construcción</h2>
        <p class="text-black">
            Bienvenido al sitio de Capa Tours.
            <br>Próximamente podrá buscar, visualizar y reservar las mejores actividades turísticas del país.
            <br>Gracias por su comprensión.
        </p>
    </div>
</div>
