@{
    ViewData["Title"] = "Inicio de Sesión";
}
<link rel="stylesheet" href="~/css/login.css />


<div class="login-container">
    <div class="login-form-section">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" id="username" placeholder="Usuario">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="Contraseña">
            </div>
            
                <button type="submit" class="btn btn-success w-100">Confirmar</button>
            

            <p class="text-center mt-3">O Inicia Sesión con :</p>
            <div class="social-icons text-center">
                <button class="btn btn-light mx-1"><i class="fab fa-facebook-f"></i></button>
                <button class="btn btn-light mx-1"><i class="fab fa-google"></i></button>
            </div>
        </form>
    </div>
    <div class="login-info-section">
        <h2>Bienvenido!</h2>
        <p>
            Esperemos disfrute su experiencia con nuestra página de tours donde encontrara las mejores reservaciones
        </p>
        <p>
            <!--Si lleva a registro-->
            No posee cuenta? <a asp-controller="Registro" asp-action="Registro">Registrarse</a>
        </p>
    </div>
</div>



